* {
  margin: 0;
  font-family: Arial;
  border: border-box;
  padding: 0;
}

.navbar {
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url("amazon-logo.jpg");
  background-size: cover;
  height: 40px;
  width: 100%;
}

.border {
  border: 1px solid transparent;
}

.border:hover {
  border: 1px solid white;
}

.del {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.loc {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 3px;
  font-weight: 700;
}

.add-icon {
  display: flex;
}

.nav-search {
  font-size: 2rem;
  border-radius: 3px;
  display: flex;
  width: 550px;
  height: 60x;
  justify-content: space-evenly;
}
.nav-search:hover {
  border: 2px solid orange;
}
.sel {
  background-color: #f3f3f3;
  width: 50px;
  height: 40px;
  text-align: center;
  border: none;
}

.search {
  width: 450px;
  font-size: 1rem;
}

.buton {
  width: 50px;
  height: 40px;
  background-color: rgb(251, 166, 9);
  border: none;
  font-size: 1.3rem;
  border-radius: 3px;
}

.flag-logo {
  /* background-image: url("us-flag.jpg"); */
  background-size: cover;
  height: 40px;
  width: 100%;
  background-color: black;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}

spam {
  font-size: 0.8rem;
}

.ao {
  font-size: 1rem;
  font-weight: 700;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}

.cart-icon {
  font-size: 2rem;
}

.menu-bar {
  height: 40px;
  background-color: #222f3d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu {
  height: 40px;
  width: 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-navbar a {
  color: #ffffff;
  text-decoration: none;
  display: inline;
  justify-content: space-evenly;
  margin-left: 20px;
}

.second-navbar {
  width: 75%;
}

.sale a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  height: 40px;
  width: 200px;
}

.sale a:hover {
  background-color: black;
  color: royalblue;
}

.second-navbar a:hover {
  background-color: black;
  color: royalblue;
}

.hero {
  background-image: url("ps5-con.jpg");
  height: 400px;
  background-size: cover;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0px 15px;
  background-color: #cccccc35;
}

.box {
  height: 300px;
  background-color: white;
  width: 23%;
  margin-bottom: 1rem;
}

.img-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.img-content a {
  color: blue;
  text-decoration: none;
}

.img {
  background-size: cover;
  height: 240px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* footer a {
  background-color: #222f3d;
  padding: 15px 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
} */

.register {
  height: 70px;
  padding: 0px 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid rgb(230, 227, 227);
  border-bottom: 1px solid rgb(230, 227, 227)
}

.register p {
  height: 15px;
  font-size: 0.8rem;
}
.register a {
  height: 15px;
  width: 900px;
  font-size: 0.7rem;
  text-decoration: none;
}

.top a {
  background-color: #50657c;
  padding: 15px 0px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #cccccc;
}

.register button {
  height: 30px;
  width: 240px;
  font-size: 1rem;
  background-color: rgb(255, 184, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-weight: 700;
}

.footer-info {
  height: 444px;
  background-color: rgba(0, 0, 0, 0.735);
  color: white;
  display: flex;
  justify-content: space-evenly;
}
.footer-info a {
  text-decoration: none;
  display: block;
  color: #dddddd;
  margin-top: 10px;
}

.footer-info h3 {
  padding: 16px 0px 14px;
  margin-top: 1rem;
}

.footer-amazon-logo {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.735);
  margin-top: 1px;
}
.footer-amazon-logo div {
  background-image: url("amazon-logo.jpg");
  background-size: cover;
  width: 95px;
  height: 40px;
}

.last-cr {
  height: 50px;
  background-color: #131a22;
  color: #dddddd;
  padding-top: 15px;
  text-align: center;
}

.privacy-notice a {
  height: 20px;
  color: #dddddd;
  text-decoration: none;
  margin: 0px 0px 0px 18px;
  font-size: 0.8rem;
}

.copyRight p {
  padding: 0px 8px;
  font-size: 0.7rem;
  padding: 5px;
}
